.TutorialsTicket {
    background: #201c29;
    border: 1px solid #312d3c;
    box-shadow: 0 4px 80px #000;
    min-width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: calc(559440px - 99900%);
    display: -webkit-box;
    display: flex;
    margin: .5rem;
    border-radius: 8px;
    height: 200px;
}

.TutorialsTicket:first-child {
  margin-left: 0;
}

.TutorialsTicket:last-child {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .TutorialsTicket {
    width: 100%;
  }
}

@media screen and (min-width: 720px) {
  .TutorialsTicket {
    min-width: 49%;
  }
}
