.Root {
    position: fixed;
    background: blue;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: ghostwhite;
    transition: width 0s;
    -webkit-transition: width 0s; /** Chrome & Safari **/
    -moz-transition: width 0s; /** Firefox **/
    -o-transition: width 0s; /** Opera **/
}

.paperInheritBackground {
    background-color: inherit !important;
    box-shadow: none !important;
    padding: 10px;
}

.divider {
    background-color: darkblue !important;
}

.Container {
    width: 100%;
    padding: 15px;
}

.Slider {
    left: 55%;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  border-bottom: 4px solid #40A4C8;
  -webkit-text-fill-color: #fff;
  background: #201c29;
}