.Logo {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  padding: 0 40px;
  position: relative;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.MiddleNav {
  flex: 1;
}

.Toolbar {
  height: 100px;
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #100e17;
  border-bottom: 1px solid #201c29;
  -webkit-animation: none;
  animation: none;
}

.Toolbar nav {
  height: 100%;
}
