.Logo {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  padding: 0 40px;
  position: relative;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

@media (max-width: 768px) {
  .Hidden {
    display: none;
    opacity: 0;
  }

  .Toolbar nav ul {
    display: flex !important;
  } 

  .Toolbar .NavbarMobile {
    overflow: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .2s;
    transition: .2s;
    position: absolute;
    top: 100px;
    left: 0;
    background: #100e17;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 100px);
    width: 100vw;
  }
}
/* .MiddleNav {
  flex: 1;
} */

.Toolbar {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  background: #100e17;
  border-bottom: 1px solid #201c29;
  -webkit-animation: none;
  justify-content: space-between;
  
}


@media (min-width: 768px) {
  .Toolbar nav{
    width: 75%;
  }

  .customToggler {
    display: none;
  }
}

.Toolbar nav {
  /* height: 100%; */
  /* width: 75%; */
}

.Toolbar .customToggler {
  border-color: rgb(252, 249, 249);
}

.customToggler .customTogglerIcon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
