.Root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Root svg:hover{
  color: royalblue;
}

.Icon {
  /* margin: theme.spacing.unit * 2, */
}

.IconHover {
  /* margin: theme.spacing.unit * 2, */
}

.Error {
  color: red;
}

