.Content {
  /* background-color: whitesmoke; */
  background: #100e17;
  color: white;
  min-height: calc(100vh - 100px);
}

.Container {
  position: relative;
  left: 0%;
  top: 60px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 1s ease-in-out; /** Firefox **/
  -o-transition: all 1s ease-in-out; /** Opera **/
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}