.LoginForm {
  display: flex;
  flex-direction: column;
  /* width: 500px; */
  max-width: 500px;
  width: 50%;
  margin: auto;
  padding: 50px;
  background: lightgray;
}

.FormItem.Button {
  margin: 10px 0;
}

.Button {
  height: 50px;
}

.RegisterLink {
  margin-left: 15px;
}

.Register {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .LoginForm {
    width: 330px;
    padding: 30px;
  } 
}

@media screen and (max-width: 400px) {
  .LoginForm {
    width: 260px;
    padding: 20px;
  } 
}
