.NavigationItems {
  /* margin: 0;
  padding: 0;
  align-items: center;
  height: 100%; */
  display: flex;
  list-style: none;
  width: 100%;
}
/* 
.NavigationItems .Form {
  display: flex;
  justify-content: center;
} */

@media (max-width:768px) {
  .NavigationItems {
    height: 75%;
  }

}
